#sidebar-wrapper.bg-theme
  .sidebar-heading.text-center.pb-0
    a(href="/")
      img(src="/img/logo-white.png", alt="iGrowex")
  hr 
  .list-group.list-group-flush
    a.list-group-item.list-group-item-action.text-white.bg-theme(href='/articles') Blog Articles
  .list-group.list-group-flush
    a.list-group-item.list-group-item-action.text-white.bg-theme(href='/users') Users