extends layout

block content
  h1.mt-4.text-center Welcome to iGrowex
  h1.mb-4.text-center Administrator Dashbaord
  .row
    .col-lg-3
      .card
        .card-body
          a.btn.btn-theme.btn-block(href="/articles") Blog Articles
    .col-lg-3
      .card
        .card-body
          a.btn.btn-theme.btn-block(href="/users") Users
